.hero{
    /* Tiene 3 items dentro: header, imag, textos */
    display: flex;
    background-color: #1F2937;
    height: 400px;
    justify-content: center;
    flex-wrap: wrap;
}

.info{
    /* Tiene 2 items: titulo, imagenes*/
    display:flex;
    height: 400px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.bottom{
    /* Tiene 1 item: <p> */
    background-color: #e5e7eb;
    height: 400px;
    display:flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid red; */
}

.header{
    /* item de .hero. Tiene 2 items: logo, links */
    align-self: start;
    display:flex;
    justify-content: space-between;
    width: 70%;
    /* border: solid red; */
}

#logo{
    font-size: 24px;
    color: #f9faf8;
}

.links{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 20%;
    font-size: 18px;
    color: #e5e7eb;
}

.medio{
    display: flex;
    /* border: 1px solid red; */
    width: 70%;
    justify-content: space-between;
    align-self: flex-start;
    height: 60%;
    
}

.textos{
    /* border: 1px solid red; */
    align-self:flex-start;
}

.imag{
    display:flex;
    justify-content: center;
    width: 50%;
    /* border:1px solid red; */
    background-color: gray;
    align-items: center ;
}

#texto1{
    font-size: 48px;
    font-weight: 700;
    color: #f9faf8;
}

#texto2{
    font-size: 18px;
    color: #e5e7eb;
}

#boton{
    background-color: #3882f6;
    color: white;
    font-size: 25px;
    flex-shrink: 1;
}

.container{
    display: flex;
    flex-direction: column;
    /* border: 1px solid red; */
    height: 60%;
    width: 60%;
}

.imagenes{
    display:flex;
    /* border:1px solid red; */
    height: 50%;
    width: 100%;
    align-self:flex-start;
    align-items: center;
    justify-content: space-evenly;
    gap: 20px;
}

.subtextos{
    display:flex;
    /* border: 1px solid red; */
    height:50%;
    width: 100%;
    align-self:flex-end;
    justify-content: space-evenly;
    gap: 20px;
}

.imagen-dentro{
    border: 2px solid #4774bb;
    width: 20%;
    height: 100%;
    border-radius: 10px;
    background-color: #4774bb;
}

.subtexto{
    /* border: 2px solid #3882f6; */
    width: 20%;
    height: 100%;
}

.titulo{
    align-self: center;
    font-size:36px;
    font-weight: 700;
    color: #1f2937;
}

.quote{
    display:flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid red; */
    width: 60%;
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1f2937;
}
